# Project Dependencies will be listed here
# Example:
# flask
# requests
# amass
# subfinder

httpx
sublist3r # For subdomain enumeration
# other potential python tools for URL processing if needed later
