# Project Dependencies will be listed here
# Example:
# requests
# amass
# subfinder

httpx
sublist3r # For subdomain enumeration
Flask # For the API
# other potential python tools for URL processing if needed later
